@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.container {
  padding: 0 theme('spacing.4');
  margin: 0 auto;
}

.sha-youtube__container iframe {
  max-width: 100%;
  border-radius: 8px;
  border: solid theme('spacing.1') #e6e6e6;
  overflow: hidden;
}

.sha-logo {
  font-family: 'Montserrat', sans-serif;
}
