@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.container {
  padding: 0 theme('spacing.4');
}

.sha-youtube__container iframe {
  max-width: 100%;
  border-radius: 8px;
  border: solid theme('spacing.1') #e6e6e6;
  overflow: hidden;
}

@media screen and (max-width:678px) {
  .sha-youtube__container iframe {
    max-height: 80px;
    max-width: 120px;
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    z-index: 100;
  }
}

.sha-logo {
  font-family: 'Montserrat', sans-serif;
}

.sha-icon {
  fill: '#29292c';
  transition: all .2s ease-out;
}

.sha-label:hover .sha-icon {
  opacity: 0.4;
}

.sha-icon:hover {
  opacity: 0.4;
}

.sha-icon.is-disabled {
  fill: #edd;
  pointer-events: none;
}

.is-today .sha-date {
  background-color: rgba(117,225,214,0.5);
}

.sha-date:hover img {
  opacity: 0.4;
}

.sha-explanation.prose,
.sha-explanation.prose *,
.sha-explanation.prose :where(ul > li):not(:where([class~="not-prose"] *))::marker {
  color: #4b5563;
}

.sha-explanation.prose h1,
.sha-explanation.prose h2,
.sha-explanation.prose h3 {
  color: #29292c;
}

.sha-explanation.prose a {
  color: #0750ae;
}
